:root {
	/* header */
	--header-color: #000;
	--nav-bar-color: #27394e;
	--navbar-menu-color: #ea584b;
	--hero-container-color: #f0763a;
	--hero-color: #ffcc5e;
	--menu-hover-color: #ea584b;

	/* main */
	--container-color: #000;
	--main-color: #44465e;
	--main-article-color: #1664a4;
	--main-last-article-color: #6399bb;
	--main-article-h3-color: #ea584b;

	/* aside */
	--aside-color: #f94c47;
	--aside-article: #ffe380;

	/* footer */
	--footer-color: #000;
	--footer-container-color: #e4a434;

	/* TABLET */
	--tablet-container-color: #fff734;

	/* text */
	--nav-bar-text-color: #757575;

	/* Fonts */

	--raleway-font: 'Raleway', sans-serif;
	--zenAntiqueSoft-font: 'Zen Antique Soft', serif;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	box-sizing: border-box;
	font-family: var(--raleway-font);
}

a {
	text-decoration: none;
	color: unset;
}

/* container */
.container {
	display: flex;
	flex-flow: column nowrap;
	gap: 1.2rem;
	margin: 2rem;
	max-width: 1200px;
}

/* header */

.header {
	display: flex;
	flex-flow: column nowrap;
	gap: 1.2rem;
}

/* nav bar */

.nav-bar {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	gap: 1.2rem;
	flex: 1 1 auto;
	color: var(--nav-bar-text-color);
	font-size: 0.8rem;
	font-weight: 500;
	letter-spacing: 0.03rem;
}

/* nav-bar menu */

.logo-container {
	flex: 2 2 auto;
	display: flex;
	justify-content: center;
}

.logo {
	width: 5rem;
}

.logo:hover {
	cursor: pointer;
}

.menu {
	flex: 8 8 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	column-gap: 2rem;
	list-style: none;
}

.menu li em {
	margin: 0 0.7rem;
}

.menu li {
	padding: 0.2rem;
}

.menu li:hover {
	cursor: pointer;
	color: var(--menu-hover-color);
}

.social-media {
	flex: 1 1 auto;
}

.social-media ul {
	list-style: none;
	display: flex;
	flex-flow: column nowrap;
	gap: 2rem;
}

.social-media ul li:hover {
	cursor: pointer;
	color: var(--menu-hover-color);
}

/* hero */

.hero-container {
	flex: 1 1 auto;
	background-image: url('../images/hero-banner.jpg');
	background-attachment: scroll;
	background-clip: border-box;
	background-color: white;
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 58%;
}

.hero-background {
	height: 12rem;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.hero-text {
	background-color: rgba(0, 0, 0, 0.05);
	color: rgba(255, 0, 40, 0.4);
	font-family: var(--zenAntiqueSoft-font);
	width: 89rem;
	padding: 2.5rem 1.5rem;
	margin-bottom: 2rem;
	font-size: 2rem;
	text-align: center;
}

/* container */

.container2 {
	display: flex;
	flex-flow: row nowrap;
	gap: 1.2rem;
}

/* main */

.main {
	flex: 1 1 auto;
	display: flex;
	flex-flow: row wrap;
	gap: 1.2rem;
}

/* main article */

.main-article {
	flex: 1 1 40%;
	display: flex;
	flex-flow: column nowrap;
}

.main-article figure {
	position: relative;
}
.last-main-article figure {
	position: relative;
}
.text-over-img {
	margin: 0 0.5rem;
	position: absolute;
	font-weight: 800;
	left: 0;
	bottom: 0;
	color: #fff;
}

.main-article figure img {
	width: 100%;
	display: block;
}
.last-main-article img {
	width: 100%;
	display: block;
}

.article-title {
	background-color: var(--main-article-h3-color);
}

.article-title h3 {
	color: #fff;
	text-transform: uppercase;
	align-self: flex-end;
	justify-self: flex-end;
	margin: 0 0.5rem;
	font-weight: 700;
	padding-top: 0.8rem;
}

.article-paragraph {
	padding: 0.8rem;
	font-weight: 600;
	letter-spacing: 0.04rem;
}

.last-main-article {
	flex: 1 1 100%;
	display: flex;
	flex-flow: column nowrap;
}

.leer-mas {
	margin: 0 0.5rem;
	color: #999;
	font-weight: 600;
}

/* aside */

.aside {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
	gap: 1.2rem;
}

/* aside article */

.aside-article figure img {
	width: 100%;
	display: block;
}

/* footer */

.footer {
	background-color: var(--footer-color);
	border: 1.2rem solid var(--footer-color);
}

.footer-container {
	background-color: var(--footer-color);
}

/* tablet screen */

@media screen and (max-width: 43.12rem) {
	html {
		font-size: 1.1rem;
	}

	.hero-text {
		font-size: 1.3rem;
		padding: 1rem;
	}

	.nav-bar {
		flex-flow: column wrap;
	}

	.container2 {
		flex-flow: column nowrap;
	}

	.menu {
		flex-flow: column nowrap;
	}

	.menu li {
		text-align: center;
	}

	.menu li em {
		margin: 0 0.7rem;
	}

	.social-media ul {
		flex-flow: row nowrap;
	}
}

/* mobil screen */

@media screen and (max-width: 25.62rem) {
	html {
		font-size: 1.2rem;
	}

	.menu {
		flex-flow: column nowrap;
	}

	.hero-background {
		height: 12rem;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	.hero-text {
		font-size: 1.2rem;
		padding: 0.5rem;
	}

	.nav-bar {
		flex-flow: column nowrap;
	}

	.main {
		flex-flow: column nowrap;
	}
}
